.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
  z-index: 999;
}
.white-block-left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}
.white-block-right {
  top: 0;
  right: -50px;
  transform: skew(45deg);
}

.btn-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #fff;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: black;
  z-index: 1000;
}
.nav__logo {
  width: 300px;
}
.nav__items {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
}
.nav__item {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 2.4rem;
  transition: color 0.3s;
}
.nav__item:hover {
  color: orange;
}
.nav__item::before {
  content: "";
  position: absolute;
  top: 40px;
  width: 0%;
  height: 2px;
  background-color: orange;
  transition: width 0.3s;
}
.nav__item:hover::before {
  width: 100%;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 80vh;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url("../img/headerImg.avif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__heading {
  text-transform: uppercase;
  font-size: 3.8rem;
  font-weight: 400;
  margin-bottom: 10px;
  color: rgb(167, 160, 148);
}
.header__text {
  font-size: 2rem;
}
.header__btn {
  margin-top: 35px;
  background-color: orange;
  padding: 1em 1.6em;
  font-size: 1.2em;
  border: none;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.header__btn::before {
  background-color: rgb(231, 150, 0);
}

.services {
  margin-top: 100px;
  text-align: center;
}
.services__text {
  font-size: 2.4rem;
  color: grey;
}
.services__heading {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  font-size: 3.2rem;
  font-weight: 550;
  text-transform: uppercase;
}
.services__heading::after {
  content: "";
  position: absolute;
  bottom: -20px;
  display: block;
  width: 100%;
  height: 5px;
  background-color: orange;
}
.services__box {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.services__service {
  position: relative;
  width: 300px;
  height: 450px;
  background-color: black;
  padding: 20px;
  text-align: justify;
}
.services__service::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: orange;
  height: 100%;
  width: 100%;
  z-index: -10000;
  box-shadow: 8px 8px 24px 0px rgb(66, 68, 90);
}
.services__service--heading {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}
.services__service--text {
  color: white;
}

.vulcanization {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url("../img/vulcanization.jpg");
  background-size: cover;
  background-position: left;
}

.conditioning {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url("../img/airconditioning.jpg");
  background-size: cover;
  background-position: left;
}

.mechanics {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url("../img/mechanics.jpg");
  background-size: cover;
  background-position: left;
}

.inspection {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url("../img/inspection.jpg");
  background-size: cover;
  background-position: left;
  background-position: center;
}

@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }
  .header__heading {
    font-size: 4.5rem;
  }
  .header__text {
    font-size: 2.5rem;
  }
}
@media (max-width: 850px) {
  .nav__items {
    display: none;
  }
  .burger-btn {
    display: block;
  }
}
@media (max-width: 768px) {
  .services__box {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .services__service {
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
  }
  .services__service::after {
    left: 0;
  }
}/*# sourceMappingURL=main.css.map */