@import "./_colors.scss";
@import "./_mixins.scss";
@import "./_components.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

//NAV

.burger-btn {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
  }

  &:hover {
    .burger-btn__bars::after,
    .burger-btn__bars::before {
      width: 100%;
    }
  }

  &__box {
    position: relative;
    width: 40px;
    height: 30px;
  }

  &__bars,
  &__bars::after,
  &__bars::before {
    @include burgerBtn;
  }

  &__bars {
    width: 100%;

    &::after {
      top: 13px;
      width: 60%;
    }

    &::before {
      top: 27px;
      width: 30%;
    }
  }
}

//NAV

.nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: black;
  z-index: 1000;

  &__logo {
    width: 300px;
  }

  &__items {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    transition: color 0.3s;
  }

  &__item:hover {
    color: orange;
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 40px;
    width: 0%;
    height: 2px;
    background-color: orange;
    transition: width 0.3s;
  }

  &__item:hover::before {
    width: 100%;
  }
}

//HEADER

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 80vh;
  text-align: center;
  color: white;
  @include heroImages("../img/headerImg.avif");
  background-attachment: scroll;

  &__heading {
    text-transform: uppercase;
    font-size: 3.8rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(167, 160, 148);
  }

  &__text {
    font-size: 2rem;
  }

  &__btn {
    margin-top: 35px;
    background-color: orange;
    padding: 1em 1.6em;
    font-size: 1.2em;
    border: none;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    cursor: pointer;

    &::before {
      background-color: rgb(231, 150, 0);
    }
  }
}

.services {
  margin-top: 100px;
  text-align: center;

  &__text {
    font-size: 2.4rem;
    color: grey;
  }

  &__heading {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    font-size: 3.2rem;
    font-weight: 550;
    text-transform: uppercase;
  }

  &__heading::after {
    content: "";
    position: absolute;
    bottom: -20px;
    display: block;
    width: 100%;
    height: 5px;
    background-color: orange;
  }

  &__box {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__service {
    position: relative;
    width: 300px;
    height: 450px;
    background-color: black;
    padding: 20px;
    text-align: left;
  }

  &__service::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: orange;
    height: 100%;
    width: 100%;
    z-index: -10000;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  }
}

.service {
  &-heading {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &-text {
    color: white;
  }

  &__button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 2rem;
    // text-transform: uppercase;
    color: white;
    background: none;
    padding: 10px;
    border: 1px solid lightgray;
  }
}

.vulcanization {
  @include serviceImages("../img/vulcanization.jpg");
}

.conditioning {
  @include serviceImages("../img/airconditioning.jpg");
}

.mechanics {
  @include serviceImages("../img/mechanics.jpg");
}

.inspection {
  @include serviceImages("../img/inspection.jpg");
  background-position: center;
}

//MEDIA

@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }

  .header {
    &__heading {
      font-size: 4.5rem;
    }

    &__text {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 850px) {
  .nav__items {
    display: none;
  }

  .burger-btn {
    display: block;
  }
}

@media (max-width: 768px) {
  .services__box {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .services__service {
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
  }

  .services__service::after {
    left: 0;
  }
}

@media (max-width: 492px) {
  .header__heading {
    font-size: 3rem;
  }
}
